@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--brand-color: #adff2f;
	--black: #000000;
	--dark-gray: #282828;
	--deep-blue: #141922;
	--white: #ffffff;
	--sidebar-width: 230px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: "Poppins", system-ui;
}

a {
	color: currentColor;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
}

button {
	background-color: transparent;
	border: none;
	color: currentColor;
}
body {
	background-color: var(--deep-blue);
	color: white;
}
.app {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.app__body {
	flex-grow: 1;
	display: flex;
}
.app__player {
	background-color: var(--dark-gray);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0px;
}
.app__player .player {
	width: 45%;
}
.player__controls {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}
.player__controls .controls__icon {
	font-size: 24px;
}
.player__controls .controls__icon.icon__play {
	font-size: 32px;
	margin: 0 12px;
}
.player__progress {
	display: flex;
	gap: 20px;
	font-size: 12px;
	align-items: center;
	padding: 14px 0;
}
.slider {
	height: 4px;
	width: 120px;
	flex-grow: 1;
	background-color: rgba(255, 255, 255, 0.5);
}
.app__player .track {
	display: flex;
	align-items: center;
	gap: 10px;
	width: var(--sidebar-width);
	padding: 0 10px;
}
.track__album-image {
	width: 42px;
	height: 42px;
	flex-shrink: 0;
}
.track__album-image img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.track__info {
	flex-grow: 1;
}
.app__player .controls {
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 0 10px;
}

.app__sidebar {
	width: var(--sidebar-width);
	flex-shrink: 0;
	background-color: var(--black);
}

.app__content {
	flex-grow: 1;
}



@media (max-width: 575.98px) {
	.app__sidebar {
		--sidebar-width: 50px;
	}
}